<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinter Hits Boxs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- section one -->
    <section style="background:url('img/top.jpg')no-repeat center; background-size: cover; height:640px;">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent mb-5" id="navbar">
            <div class="container py-2" id="navCont">
                <a class="navbar-brand">Pinter Hits Boxs</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="About.html">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog.html">Pinter Hits Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Chalange.html">Pinter Hits Challenge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Survey.html">Survey</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end navbar -->
        <div class="container mt-5 text-white">
            <div class="py-5"></div>
            <div class="py-5">
                <h1><strong>Pinter Hits Boxs</strong></h1>
                <p>Emping ,Tape , Lemper</p>
            </div>
        </div>
    </section>
    <!-- end section one -->
    <!-- section 2 -->
    <div class="container my-5">
        <h4 class="text-white text-center pb-4"><strong>Pinter Hits Boxs Survey</strong></h4>
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nama" placeholder="nama">
                        <label for="nama">Nama</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="umur" placeholder="Umur">
                        <label for="umur">Umur</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Asal" placeholder="Asal">
                        <label for="Asal">Asal</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Dari mana kamu tahu tentang Pinter Hits Boxs ?"
                            id="quis1" style="height: 100px"></textarea>
                        <label for="quis1">Dari mana kamu tahu tentang Pinter Hits Boxs ?</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Disaat momen apa kamu membeli Pinter Hits Box?"
                            id="quis2" style="height: 100px"></textarea>
                        <label for="quis2">Disaat momen apa kamu membeli Pinter Hits Box?</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control"
                            placeholder="Apa jenis makanan yang paling kamu sukai, emping, lemper atau tape ?"
                            id="quis3" style="height: 100px"></textarea>
                        <label for="quis3">Apa jenis makanan yang paling kamu sukai, emping, lemper atau tape ?</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control"
                            placeholder="Kreasi menu apa yang paling kamu sukai dari produk lemper?" id="quis4"
                            style="height: 100px"></textarea>
                        <label for="quis4">Kreasi menu apa yang paling kamu sukai dari produk lemper?</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control"
                            placeholder="Kreasi menu apa yang paling kamu sukai dari produk tape?" id="quis5"
                            style="height: 100px"></textarea>
                        <label for="quis5">Kreasi menu apa yang paling kamu sukai dari produk tape?</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Apa yang kamu sukai dari kemasan pinter Hits Box?"
                            id="quis6" style="height: 100px"></textarea>
                        <label for="quis6">Apa yang kamu sukai dari kemasan pinter Hits Box?</label>
                    </div>
                    <div class="mb-3 float-end">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end section 2 -->
    <!-- footer -->
    <div class="home-subscribe-container t-5 bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="caption-group text-center text-white">
                        <div class="sub-caption">BERLANGGANAN</div>
                        <div class="caption">
                            <h2>Ikuti Kami Sekarang Juga!</h2>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center subscribe-social-medias mt-4">
                        <a class="pr-5" rel="noreferrer" aria-label=" Instagram Social Media link"
                            href="https://www.instagram.com/pinterhitsbox" target="_blank">
                            <img alt="" src="svg/instagram-w.svg">
                        </a>
                        <a rel="noreferrer" aria-label="tiktok Social Media link"
                            href="https://www.tiktok.com/@pinterhitsbox" target="_blank">
                            <img alt="" src="svg/tiktok-w.svg" width="36px">
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto">
        <div class="container pt-md-3 pb-md-3 text-left text-md-left">
            <div class="row text-white">
                <div class="col-md-7 col-lg-7 col-sm-12 mt-md-0 mt-3 p-3">
                    <h5 class="text-uppercase">Pinter Hits Boxs</h5>
                    <div class="footer-info mt-4">
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5 col-sm-12 mt-md-0 p-3">
                    <div class="col-lg-9 text-center text-lg-left pt-3 pt-lg-0">


                        <div class="h5" style="
                        text-align: start;
                    ">Kontak Kami</div>
                    </div>


                    <p class="pl-3"><i class="fas fa-envelope"></i></b> <a class="home-cs-card"
                            href="mailto:nicoxcode30@gmail.com" target="_blank" rel="noreferrer"
                            style="color: white;">Email</a></p>
                    <p class="pl-3"><i class="fab fa-whatsapp"></i></b> <a href="https://wa.me/62859126462972"
                            style="color: white;">Chat WhatsApp</a></p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3 foterr">
            <p> ©Copyright Pinter Hits Boxs 2022 </p>

        </div>
    </footer>
    <!-- end footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
    <script src="js/script.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>