.home-subscribe-container {
	background-color: #272730;
	padding: 15px 0 30px;
	margin: 28px 0 0
}

.home-subscribe-container .subscribe-social-medias a {
	display: block;
	margin: 0 15px
}

@media (min-width:576px) {
	.home-subscribe-container .subscribe-social-medias a {
		margin: 0 20px
	}

	.home-subscribe-container .subscribe-social-medias a {
		display: block;
		margin: 0 15px
	}

}

@media (min-width:576px) {
	.home-subscribe-container .subscribe-social-medias a {
		margin: 0 20px
	}
}

.footer-copyright {
	color: white;
	background-color: #272730;
}

body {
	background-color: #32323e !important;

	/*	background-repeat: no-repeat;*/
	/*	background-size: cover;*/
}

.bg-green {
	background-color: #61c9a1;
}

.bg-all {

	background-size: cover !important;
	height: 730px;
	background-color: #213559 !important;
}

.img250px {
	height: 250px;
}

.overlay-kece {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	border-radius: calc(0.25rem - 1px);
}

@media (min-width:576px) {
	.img250px {
		height: 250px;
	}
}